<app-promo-shopping-cart></app-promo-shopping-cart>
<app-navbar-logo></app-navbar-logo>
<app-nav-portal> </app-nav-portal>
<div class="row detail-view">
  <div class="detail col-md-12">
    <div class=" detail-img detail-img-mob">
      <img src="{{product.imageUrl}}" alt="img" class="detail-img-size">
    </div>

    <div class="detail-content">
      <h2>{{product.name}}</h2>
      <h3 class="detail-description">Short Description: <span>{{product.shortDescription}}</span></h3>
      <h3>Manufacturer: <span>{{product.manufacturer}}</span></h3>
      <h3 *ngIf="product.isAvailable; else outOF"> Availability:
        <span> In Stock</span> </h3>
      <ng-template #outOF>
        <h3>Availability: <span>Out of Stock</span></h3>
      </ng-template>
      <span class="quant">Quantity</span>
      <div class="row detail-input">
        <input type="number" class="form-control" (input)="checkInput(product)" [(ngModel)]="quantity" min="1" name="quantity">
        <button class="btn btn-danger btn-add" (click)="addToCart(product)"
          [ngClass]="{'outOfStock': !product.isAvailable}" [routerLink]="[ '/Portal/Home']" *ngIf="!error" >Add to cart</button>
      </div>
      <h3 class="detail-description">Description: <span>{{product.fullDescription}}</span> </h3>
      <button class="btn btn-warning " [routerLink]="[ 'Portal', 'Home' ]" (click)="goBack()">Go Back</button>
    </div>
    
  </div>
</div>