$white: white;
$secondary-color: #f36f21;
h2 {
    color: $secondary-color;
    font-weight: 600;
    font-size: 45px;
    border-bottom: 5px solid white;
    padding-bottom: 7px;
}

h3 {
    color: $white;
    span {
        color: $secondary-color;
    }
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    &-img {
        width: 170px;
        margin: 25px 65px;
    }
    &-content {
        margin: 35px;
    }
    &-input {
        input {
            width: 26%;
            margin-right: 5px;
        }
    }
    &-description {
        font-size: 25px;
        padding: 5px;
        font-weight: 400;
        span {
            color: $secondary-color;
        }
    }
    .quant {
        color: $white;
    }
    .outOfStock {
        opacity: 0.65;
        cursor: not-allowed !important;
        pointer-events: none;
    }
}