$white: white;
$secondary-color: #f36f21;

@import '../../../responsive/tablet.scss';
@import '../../../responsive/mobile.scss';

h2 {
    color: $secondary-color;
    font-weight: 600;
    font-size: 45px;
    border-bottom: 5px solid white;
    padding-bottom: 7px;
}

h3 {
    color: $white;
    span {
        color: $secondary-color;
    }
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    &-img {
        width: 50%;
        &-size {
            width: 90%;
        }
    }
    &-content {
        margin: 35px;
        width: 50%;
    }
    &-input {
        input {
            width: 26%;
            margin-right: 5px;
        }
    }
    &-description {
        font-size: 25px;
        padding: 5px;
        font-weight: 400;
        span {
            color: $secondary-color;
        }
    }
}
    .quant {
        color: $white;
    }
    .outOfStock {
        opacity: 0.65;
        cursor: not-allowed !important;
        pointer-events: none;
    }
    .btn-add {
        background-color: $secondary-color;
        color: white;
        width: 120px;
        height: 38px;
        &:hover {
            background-color: darken($secondary-color, 5);
        }
    }
    .btn-back {
        background-color: $secondary-color;
        margin-left: 50px;
        margin-bottom: 15px;
        
        &:hover {
            background-color: darken($secondary-color, 5);
        }
    }

    .btn-warning {
        float: right;
        background-color: white;
        border-color: white;
        color: black;
        font-weight: 600;
    }
