$background-color: #2d3e4e;
$secondary-color: #EFF5F9;
$text-color: #37505C;
$font-bangers: 'Candal', cursive;
$font-labels: 'Bangers, cursive';


@import '../../../responsive/mobile.scss';
@import '../../../responsive/tablet.scss';

.navbar {
    &-list {
        background-color: #161616;
        height: 16vh;
    }

    &-title {
        color: white;
        font-family: $font-bangers;
    }
}

.form {
    margin-top: 20px;

    &-labels {
        color: $text-color;
        font-family: $font-labels;
    }

    &-buttons {
        margin-top: 15px;
    }
    &-text-area {
        padding-top: 15px;

        &-label {
            margin-left: 15px;
        }
    }
}

.card-img {
    height: 200px;
    width: 200px;
}

.empty {
    border-color: red;
}

.form-labels {
    padding: 8px 6px;
}