$background-color: #2d3e4e;
$secondary-color: #f36f21;
$dialog-background: #2d3e4ee8;
$error: red;
$white: white;
$button-color: #0d1824;
$font-bangers: 'Candal',
cursive;
@import '../../../responsive/tablet.scss';
@import '../../../responsive/mobile.scss';
.container {
    height: 80vh;
    
    &-search {
        margin-bottom: 10px;
    }
}

.navbar {
    &-list {
        background-color: $background-color;
        height: 16vh;
    }
    &-title {
        color: $white;
        font-family: $font-bangers;
    }
}

.table {
    padding: 15px;
    text-align: center;
    &-button {
        margin-left: 15px;
    }
    &-image {
        width: 40px;
        height: 50px;
    }
    &-confirm {
        width: 270px;
        height: 160px;
        background-color: $dialog-background;
        position: absolute;
        left: 40%;
        margin-left: -50px;
        top: 29%;
        margin-top: -50px;
        padding: 5px;
    }
    & p {
        color: $white;
    }
    &-buttons button {
        margin-left: 10px;
    }
}

.btn-outline-primary {
    color: $white;
    border-color: $white;

    &:hover {
        background-color: $secondary-color
    }
}

.danger {
    font-size: 44px;
    color: $error;
}

//spinner

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $secondary-color;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: contents;
  justify-content: center;
}

.lds-roller {
  z-index: 10;
  position: absolute;
  top: 57px;
}