<div class="col-md-9 float-right menu">
  <nav class="navbar navbar-light navbar-list mobile">
    <button class="btn btn-outline-primary float-right" [routerLink]="[ '/Add-Products']"> <i class="fas fa-folder-plus"></i>
      Add Products</button>
    <h2 class="navbar-title">Categories</h2>
    <div class="form-search">
      <form class="form-inline category-form">
        <input class="form-control" [(ngModel)]="searchName" name="search" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-primary" (click)="searchCategory()" type="submit"><i class="fas fa-search"></i>
          Search</button>
      </form>
    </div>
  </nav>
</div>
<div class="table col-md-9 col-sm-12 float-right container">
  <button class="btn btn-outline-dark container-search" [hidden]="!activeSearch" (click)="getCategories()">Cancel
    Search</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-address-card"></i> Category Name</th>
        <th scope="col"><i class="fas fa-id-badge"></i> Parent Category</th>
        <th scope="col"><i class="fas fa-tractor"></i> Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>