<app-nav-admin [categoryName]='routeName'></app-nav-admin>
<div class="table col-md-9 col-sm-12 float-right container">
  <button class="btn btn-outline-dark container-search" [hidden]="!activeSearch" (click)="getProducts()">Cancel
    Search</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-address-card"></i> Picture</th>
        <th scope="col"><i class="fas fa-angle-down"></i> Name</th>
        <th scope="col"><i class="fas fa-angle-down"></i> Categories</th>
        <th scope="col"><i class="fas fa-angle-down"></i> Price</th>
        <th scope="col"><i class="fas fa-tractor"></i> Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td><img class="table-image" src="{{product.imageUrl}} " alt="images"></td>
        <td>{{product.name}}</td>

        <ng-container *ngFor="let category of categories">
          <td *ngIf="category.id === product.categoryId">{{ category.name }}</td>
        </ng-container>

        <td>{{product.price}}</td>
        <td>
          <button class="btn btn-outline-info table-button" [routerLink]="[ '/Products', 'Edit' , product.id, product.imageName]">
            <i class="fas fa-edit"></i> Edit</button>
          <button class="btn btn-outline-danger table-button" (click)="showDeleteModule(product.id)">
            <i class="far fa-trash-alt"></i> Delete</button>
          <div class="table-confirm" [ngClass]="{'animated slideInDown' : activeDelete}" [hidden]="!activeDelete">
            <i class="fas fa-exclamation-triangle danger"></i>
            <p>Are you sure you want to delete this category?</p>
            <div class="table-confirm-buttons">
              <button class="btn btn-outline-primary my-2 my-sm-0" (click)="deleteCategory('YES',product.imageName)">YES</button>
              <button class="btn btn-outline-primary my-2 my-sm-0" (click)="deleteCategory('NO',product.imageName)">NO</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>