<div class="col-md-9 float-right">
  <nav class="navbar navbar-light navbar-list">
    <h2 class="navbar-title col-md-12">Edit User</h2>
  </nav>
  <form class="col-md-10 container form">
    <div class="form-group">
      <label for="CategoryNameInput" class="form-labels">Category Name <i class="fas fa-address-card"></i></label>
      <input [ngClass]="{'empty': emptyInput}" type="text" [(ngModel)]="name" name="name" class="form-control" id="CategoryNameInput"
        placeholder="Category Name">
    </div>

    <div class="select">
      <label for="CategoryNameInput" class="form-labels">Select Parent Name <i class="fas fa-address-card"></i></label>
      <select class="custom-select" [(ngModel)]="selectedOption" name="selectedOption">
        <option value="9999">No Parent</option>
        <option *ngFor="let item of Category" [ngValue]="item">
          {{item.name}}</option>
      </select>
    </div>
    <div class="form-text-area">
      <div class="row">
        <label for="CategoryDescription" class="form-text-area-label">Description <i class="fas fa-ballot"></i></label>
      </div>
      <textarea id="story" [(ngModel)]="textDescription" name="story" rows="5" cols="33">

        </textarea>
    </div>
    <div class="form-buttons">
      <button type="button" (click)="editedValues()" class="btn btn-outline-primary"><i class="fas fa-save"></i> Save</button>
      <button type="button" [routerLink]="[ '/Category']" class="btn btn-outline-danger float-right"><i class="fas fa-angle-left"></i>
        Back</button>
    </div>
  </form>
</div>