$background-color: #2d3e4e;
$secondary-color: #EFF5F9;
$button-color: #0d1824;
$dialog-background: #2d3e4ee8;
$font-bangers: 'Candal',
cursive;

//responsive 

@import '../../responsive/tablet.scss';

@import '../../responsive/mobile.scss';

.container {
    height: 80vh;
    background-color: $secondary-color;
    &-search {
        margin-bottom: 10px;
    }
}

.navbar {
    &-list {
        // background-color: $background-color;
        background-image: url("../../../assets/img/cover.png");
        height: 16vh;
    }
    &-title {
        color: white;
        font-family: $font-bangers;
    }
}

.table {
    padding: 15px;
    text-align: center;
    position: relative;
    &-button {
        margin-left: 15px;
    }
    &-confirm {
        width: 270px;
        height: 160px;
        background-color: $dialog-background;
        position: absolute;
        left: 40%;
        margin-left: -50px;
        top: 29%;
        margin-top: -50px;
        padding: 5px;
        & p {
            color: white;
        }
        &-buttons button {
            margin-left: 10px;
        }
    }
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.danger {
    font-size: 44px;
    color: red;
}

.toast {
    &-succes {
        background-color: green;
    }
}


