<div class="onSell">
  <div class="sell">
    <div class="promo">
      <span>FREE</span> shipping on DO35 and DO45 Couplings <span>Australia Only</span> <a href="#"> Additional T&C's</a>
        <div class="shopping-cart col-md-2 float-right">
            <img  [routerLink]="[ '/Shopping-cart' ]" class="shop-cart-img img-cart" src="../../../assets/img/shopping-cart.svg" alt="">
            <span class="badge badge-warning count-items">{{cartItems}}</span>
          </div>
    </div>
  </div>
</div>