$background-color: #2d3e4e;
$text-color: #37505C;
$secondary-color: #f36f21;
$font-bangers: 'Candal', cursive;
$font-labels: 'Bangers, cursive';

.navbar {
    &-list {
        background-color: #161616;
        height: 16vh;
    }

    &-title {
        color: white;
        font-family: $font-bangers;
        text-align: center;
    }
}

.form {
    margin-top: 20px;

    &-labels {
        color: $text-color;
        font-family: $font-labels;
    }

    &-buttons {
        margin-top: 15px;
    }
    &-text-area {
        padding-top: 15px;

        &-label {
            margin-left: 15px;
        }
    }
}

.empty {
    border-color: red;
}


.form-labels {
    padding: 8px 6px;
}


