$background-color: #2d3e4e;
$text-color: #37505C;
$error: red;
$white: white;
$secondary-color: #f36f21;
$font-bangers: 'Candal', cursive;
$font-labels: 'Bangers, cursive';

.navbar {
    &-list {
        // background-color: $background-color;
        background-image: linear-gradient(to left, #05386b, #800080);
        height: 16vh;
    }

    &-title {
        color: $white;
        font-family: $font-bangers;
        text-align: center;
    }
}

.form {
    margin-top: 20px;

    &-labels {
        color: $text-color;
        font-family: $font-labels;
    }

    &-buttons {
        margin-top: 15px;
    }
    &-text-area {
        padding-top: 15px;

        &-label {
            margin-left: 15px;
        }
    }
}




.form-labels {
    padding: 8px 6px;
}


@import '../../responsive/admin-panel-nav.scss';
