$primary-color: #2E3E50;
$hover-color: #007bff59;
.products {
    display: none;
}

.categories {
    pointer-events: none;
    text-align: center;
}

.fa-angle-right {
    display: none;
}

.carousel-item {
    height: 286px;
}

.badge-categories {
    display: none;
}

.list-products {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.navlist {
    background-color: #485b72;
    &-search {
        margin: 27px 26px;
    }
    img {
        height: 75px;
    }
}


.col-md-12 {
    margin: 0px;
    padding: 0px;
}

.split {
    background-color: #4a5c72;
    height: 71px;
    text-align: center;
    padding-top: 12px;
    color: white;
}

.btn-outline-primary {
    border-color: white;
    color: white;
    margin-left: 5px;
}

.imgList {
    padding: 8px;
}
.card {
    height: 310px;
    margin: 4px;
    &-img-top {
        height: 150px;
        object-fit: fill;
        padding: 20px;
    }
    &-body {
        text-align: center;
        height: 160px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-btn {
        margin-top: 5px;
    }
}

.row {
    margin-right: 0px;
    margin-left: 0px
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.badge-primary {
    position: absolute;
    right: 18px;
    top: 30px;
}

.cart-items-count {
    position: absolute;
    bottom: 7px;
    left: 127px;
    color: white;
}

.fa {
    &-shopping-cart {
        font-size: 46px;
        color: white;
        cursor: pointer;
    }
}