<div class="col-md-12 float-right">
  <app-promo-shopping-cart></app-promo-shopping-cart>
  <app-navbar-logo></app-navbar-logo>
  <app-carousel></app-carousel>
  <app-nav-portal (searchEvent)="receiveSearchName($event)" (FilterEventId)='categoryClickId($event)'
    (FilterEventName)='categoryClickName($event)' (GetAllCategories)='getAll($event)'>
  </app-nav-portal>
  <div class="split col-md-12 ">
    <h2 class="split-title">{{activeCategory}}</h2>
  </div>
  <div class="row list-products">
    <ng-template *ngIf="notFound">
      <h2 class="error">Search field is empty or product does not exist!</h2>
    </ng-template>
    <div class="loader" *ngIf="loading">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <app-detail-view (changeActive)='changeView($event)' class="col-md-12" *ngIf="detail"></app-detail-view>
    <app-shopping-cart *ngIf="shopList"></app-shopping-cart>
    <div class="list-carts col-md-12" *ngIf="!detail" [hidden]="loading">
      <div class="card col-md-3 col-sm-4 col-xs-6 float-left" *ngFor="let item of products; let i = index ">
        <img (click)="checkProductActive(item.id)" src="{{item.imageUrl}}" class="card-img-top" alt="{{item.name}}">
        <img class="close" *ngIf="!item.isAvailable" src="../../../assets/img/Ecommerce_Close_Label-512.png"
          alt="not available">
        <p class="out-of-stack" *ngIf="!item.isAvailable">Out of Stock !</p>
        <div class="card-body">
          <h5 class="card-title col-sm-12 col-md-12">{{item.name}}</h5>
          <h5 class="card-price col-sm-12 col-sm-3 col-md-12">{{item.price}}$</h5>
          <p class="card-text col-sm-12 col-md-12">{{item.shortDescription}}</p>
          <a class="btn btn-dark card-btn btn-sm" (click)="checkIfExist(item)"
            [ngClass]="{'disable':!item.isAvailable}">Add to Card</a>
        </div>
      </div>
    </div>
    <h2 class="empty" *ngIf="empty">No Products in this Category</h2>
  </div>
</div>