$primary-color: #2E3E50;
$hover-color: #007bff59;
$second-color: #f36f21;


.products {
    display: none;
}

.menu {
    display: none;
}

.categories {
    pointer-events: none;
    text-align: center;
}

.fa-angle-right {
    display: none;
}

.carousel-item {
    height: 286px;
}

.badge-categories {
    display: none;
}

.list-products {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.sell {
    height: 50px;
    text-align: center;
    background-color: #757575;
    border-bottom: 11px solid $second-color;
    padding-top: 7px;
    span {
        color: $second-color;
        font-weight: 700;
    }
}


.navlist {
    background-image: url("../../../assets/img/dark-wood.jpg");
    position: relative;
    &-search {
        margin: 27px 26px;
    }
    img {
        height: 75px;
    }
}
.menu-color {
        color: white!important;
}

.navbar {
    background-color: black;
}

.dropdown-menu {
    background-color: black!important;
}

.dropdown-item:hover {
background-color: $second-color!important ;
}

.nav-item:hover {
    background-color: $second-color!important ;
}


.col-md-12 {
    margin: 0px;
    padding: 0px;
}

.split {
    background-image: url("../../../assets/img/dark-wood.jpg");
    height: 71px;
    text-align: center;
    padding-top: 12px;
    color: white;
}

.btn-outline-primary {
    border-color: white;
    color: white;
    margin-left: 5px;
}

.imgList {
    padding: 8px;
}

.card {
    background-image: url('../../../assets/img/organic-tiles.png');
    height: 165px;
    margin: 4px;
    &-img-top {
        position: absolute;
        height: 150px;
        left: 0;
        width: 50%;
        object-fit: fill;
        padding: 20px;
    }
    &-body {
        position: absolute;
        right: 0;
        text-align: center;
        height: 129px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-btn {
        margin-top: 5px;
    }
    &-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        height: 1.2em;
        white-space: nowrap;
    }
}

a {
    color: white;
    &:hover {
        color: blue;
    }
}
.row {
    margin-right: 0px;
    margin-left: 0px
}

.shopping-cart {
    position: absolute;
    right: 0;
    top: 23px;
}

.badge-warning {
    background-color: white;
    position: absolute;
    left: 71px;
    top: 25px;
}

.cart-items-count {
    position: absolute;
    bottom: 7px;
    left: 65px;
    color: #f36f21;
}

.fa {
    &-shopping-cart {
        font-size: 46px;
        color: #f36f21;
        cursor: pointer;
    }
}