$nav-menu-color: #4d187863;


@media only screen and (max-width: 990px) and (min-width: 500px) {


    .menu {
        display: inline-block;
        &-link {
            float: left;
        }
        &-view {
            height: 15vh;
            position: relative;
            &-link {
                float: left;
                width: 50%;
                font-size: 22px;
            }
            &-nav {
                color: white;
                text-align: center;
                background-color: $nav-menu-color;
                display: inline-block;
                width: 100%;
                height: 50px;
            } 
            &-img {
            width: 50%;
            margin: 0px;
            &-logo {
                width: 100%;
                margin-left: 50%;
                padding-top: 20px;
            }
        }
      }
    }

    nav {
        display: block;
    }

    .navbar {
        &-list {
            padding: 35px;
        }
    }

    .name-category {
        margin-bottom: 15px;
    }

    .category-form {
        input {
            width: 56%!important;
        }
    }



   .fa-angle-right {
       display: none;
   }

.menu-img {
    width: 95%;
    &-container {
        width: 50%;
    }
}

.form {
    padding: 10px;
}

}


@media only screen and (max-width: 500px) and (min-width: 320px) {

    .menu {
        display: inline-block;
        &-link {
            float: left;
        }
        &-view {
            height: 14vh;
            position: relative;
            &-link {
                float: left;
                width: 50%;
                font-size: 12px
            }
            &-nav {
                color: white;
                text-align: center;
                background-color: $nav-menu-color;
                display: inline-block;
                width: 100%;
                height: 35px
            } 
            &-img {
            width: 50%;
            margin: 0px;
            &-logo {
                width: 100%;
                margin-left: 50%;
                padding-top: 20px;
            }
        }
      }
    }

    .navbar-list {
        height: 18vh!important;
    }

    .category-form {
        input {
            width: 55%!important;
        }
    }

    .btn-search {
        width: 100px!important;
    }

    .nav-tab {
        font-size: 12px;
        height: 34px
    }

    .navbar-title {
        font-size: 16px;
    }

    .form {
        padding: 10px;
    }

    .table {
        font-size: 16px!important;
    }

}