@media only screen and (max-width: 400px) and (min-width: 320px) {
    .menu {
        position: relative;
        height: 34vh;
        width: 100%;
        &-mobile {
            height: 34vh;
            &-view {
                height: 44vh;
                width: 66vh;
            }
        }
        &-img-container {
            width: 100%;
        }
    }
    .navbar-list {
        height: 34vh !important;
        width: 66vh;
    }
    .form-search {
        & button {
            margin-top: 20px;
        }
    }
    .form-edit {
        padding: 12px;
    }
    .table-button {
        width: 91px;
        margin-bottom: 3px;
    }
    .table-confirm {
        left: 25%;
    }
    .sell {
        height: 65px;
        font-size: 11px;
        .promo {
            width: 80%;
            margin-top: 11px;
        }
    }
    .imgList {
        height: 60px;
        img {
            width: 230px;
            height: auto;
            padding: 10px;
        }
    }
    .shopping-cart {
        margin-top: 6px;
        width: 60px;
    }
    .out-of-stack {
        left: 185px;
    }
    .table th {
        padding: 0px;
    }

    .table {
        padding: 0px!important;
        font-size: 11px;
    }
}