@media only screen and (max-width: 400px) and (min-width: 320px) {
    .menu {
        position: relative;
        height: 34vh;
        width: 100%;
        &-mobile {
            height: 34vh;
            &-view {
                height: 44vh;
                width: 66vh;
            }
        }
        &-img-container {
            width: 100%;
        }
    }
    .navbar-list {
        height: 34vh !important;
        width: 66vh;
    }
    .form-search {
        & button {
            margin-top: 20px;
        }
    }
    .form-edit {
        padding: 12px;
    }
    .table-button {
        width: 91px;
        margin-bottom: 3px;
    }
    .table-confirm {
        left: 25%;
    }
    .sell {
        height: 65px;
        font-size: 11px;
        .promo {
            width: 80%;
            margin-top: 11px;
        }
    }
    .imgList {
        height: 60px;
        img {
            width: 230px;
            height: auto;
            padding: 10px;
        }
    }
    .shopping-cart {
        margin-top: 6px;
        width: 60px;
    }
    .out-of-stack {
        left: 185px;
    }
    .table th {
        padding: 0px;
    }
    .table {
        padding: 0px !important;
        font-size: 11px;
    }
    .list-carts {
        padding: 15px !important;
    }
    .btn-back {
        position: relative !important;
    }
    .detail {
        &-view {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &-img {
            margin: 24px 25px !important;
            position: relative;
            float: left;
            width: 100px;
            height: 100px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            width: auto !important;
            &-mob {
                width: 100%;
                height: 150px;
                position: absolute;
                top: 0;
                margin-left: 23%;
            }
        }
        &-content {
            width: 100%!important;
            position: absolute;
            top: 53%;
            padding: 46px;
            margin: 0px!important;
            margin-top: 230px !important;
        }
    }
    .tablet {
        &-td {
            font-size: 9px !important;
            padding: 5px;
            width: 19px;
            .btn-remove {
                position: absolute;
                position: absolute;
                width: 100%;
                font-size: 8px;
                padding: 5px;
                margin: -5px;
            }
        }
    }
    .input-quantity {
        width: 100% !important;
    }
}