@media only screen and (max-width: 768px) and (min-width: 400px) {
    .menu {
        position: relative;
        height: 15vh;
        &-img-container {
            align-items: end;
        }
        &-nav {
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .table {
        &-button {
            width: 91px;
             margin-top: 5px;
        }
    }

    .navbar {
        display: block;
    }

    .form-search input {
        width: 70%;
    }

    .card {
        &-title {
            font-size: 14px;
        }
    }
    .sell {
        height: 65px;
        font-size: 11px;
        .promo {
            width: 80%;
            margin-top: 11px;
        }
    }
    .imgList {
        height: 60px;
        img {
            width: 230px;
            height: auto;
            padding: 10px;
        }
    }
    .shopping-cart {
        margin-top: 6px;
        width: 60px;
    }
}