<nav class="col-md-3 menu float-left">
  <div class="col-md-12 nav-pills">
    <nav class="nav flex-column menu-nav">
      <a class="nav-link float-left menu-link" [routerLink]="['Category']" routerLinkActive="active">
        <i class="fas fa-folder-open"></i> Category
        <i class="float-right fas fa-angle-right"></i></a>
      <a class="nav-link float-left menu-link" [routerLink]="['Products']" routerLinkActive="active">
        <i class="fas fa-align-justify"></i> Products
        <i class="float-right fas fa-angle-right"></i></a>
    </nav>
  </div>
</nav>
<div class="content col-md-8">
</div>
<router-outlet></router-outlet>