<nav class="col-md-3 col-sm-12 menu float-left">
    <div class="col-md-12 nav-pills menu-container">
      <div class="menu-img-container">
          <img class="menu-img" src="../assets/img/logo.png" alt="Logo">
      </div>
      
      <nav class="nav flex-column menu-nav">
        <a class="nav-link float-left menu-link" 
        [routerLink]="['Category']" 
        routerLinkActive="active-selected">
          <i class="fas fa-folder-open"></i> Category <span class="badge badge-success">{{countCategory}}</span>
          <i class="float-right fas fa-angle-right"></i>
        </a>
        
          <a class="nav-link float-left menu-link" 
          [routerLink]="['Products']" 
          routerLinkActive="active-selected">
          <i class="fas fa-align-justify"></i> Products
          <span class="badge badge-success">{{countProducts}}</span>
          <i class="float-right fas fa-angle-right"></i>
        </a>
      </nav>
    </div>
  </nav>
  <router-outlet></router-outlet>