$primary-color: #2E3E50;
$hover-color: #ffffff59;
$gradient-second: #800080;
$gradient-first: #006400;
$white:white;
$main-nav-color: #1b3335;

@import '../../responsive/tablet.scss';
@import '../../responsive/mobile.scss';

.menu {
    background-image: linear-gradient(to top, $primary-color , $gradient-first);
    height: 100vh;
    position: fixed;
    &-hamburger {
        display: none;
    }
    &-nav {
        color: $white;
        margin-top: -46px;
    }
    &-link {
        color: $white;
    }
    .categories-prod {
        text-align: center;
        margin: 5px;
    }
    &-img {
        width: 100%;
        height: auto;
        margin: 31px;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 150px;
        }
    }
}

.active-selected {
    background-color: $hover-color;
}

//max 770px min 400px
@import '../../responsive/tablet.scss';
//max 400px 
@import '../../responsive/mobile.scss';