$primary-color: #2E3E50;
$hover-color: #ffffff59;
$gradient-second: #800080;
$gradient-first: #242583;
$white:white;
$main-nav-color: #1b3335;



.menu-view {
    // background-image: linear-gradient(to top, $gradient-first , $gradient-second);
    background-color: #05386b;
    height: 100vh;
    position: fixed;
    &-img {
        width: 100%;
        margin: 65px 35px;
        &-logo {
            width:75%;
        }   
    }
    &-nav {
        color: $white;
        margin-top: 4px;
    }
    &-link {
        color: $white;
    }
    .categories-prod {
        text-align: center;
        margin: 5px;
    }
    &-img {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 150px;
        }
    }
}

.active-selected {
    background-color: $hover-color;
}

@import '../../responsive/admin-panel-nav.scss';