$primary-color: #2E3E50;
$hover-color: #007bff59;

.menu {
    // background-color: $primary-color;
    background-image: url(../../../assets/img/dark-wood.jpg);
    height:100vh;
    position: fixed;

    &-hamburger {
        display: none;
    }

    &-nav {
        color: white;
        margin-top: 6px;
    }

    &-link {
        color: white;
    }

    .categories-prod {
        text-align: center;
        margin: 5px;
    }

    &-img {
        width: 180px;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 7px;
        }
    }
}


.active-selected {
    background-color: $hover-color;
}


//max 770px min 400px
@import '../../responsive/tablet.scss';

//max 400px 

@import '../../responsive/mobile.scss';