<div class="col-md-9 float-right">
  <nav class="navbar navbar-light navbar-list">
    <h2 class="navbar-title col-md-12">Add User</h2>
  </nav>
  <form class="col-md-10 container form form-edit">
    <div class="form-group">
      <label for="CategoryNameInput" class="form-labels">Category Name <i class="fas fa-address-card"></i></label>
      <input [ngClass]="{'empty': emptyInput}" type="text" [(ngModel)]="name" name="name" class="form-control" id="CategoryNameInput"
        placeholder="Category Name">
    </div>

    <div class="select">
      <label for="CategoryParentNameInput" class="form-labels">Parent Category Name <i class="fas fa-address-card"></i></label>
      <select class="custom-select" [(ngModel)]="selectedOption" name="selectedOption">
        <option value="No Parent">No Parent</option>
        <option *ngFor="let item of allCategories" [ngValue]="item">
          {{item.name}}</option>
      </select>
    </div>
    <div class="form-text-area">
      <div class="row">
          <label for="CategoryDescription" class="form-text-area-label">Description <i class="fas fa-ballot"></i></label>
      </div>
    <textarea id="story" [(ngModel)]="textDescription" name="story" rows="5" cols="33">

      </textarea>
    </div>
    <div class="form-buttons">
      <button type="button" (click)="addCategory()" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Add</button>
      <button type="button" [routerLink]="['/Category']" class="btn btn-outline-danger float-right"><i class="fas fa-angle-left"></i>
        Back</button>
    </div>
    <svg height="32" width="32" ></svg>
  </form>
</div>