 <div class="col-md-9 float-right">
    <nav class="navbar navbar-light navbar-list">
        <h2 class="navbar-title col-md-12">Add User</h2>
    </nav>
    <form class="col-md-10 container form">
        <div class="form-group">
          <label for="CategoryNameInput" class="form-labels">Category Name <i class="fas fa-address-card"></i></label>
          <input [ngClass]="{'empty': emptyInput}" type="text" [(ngModel)]="name" name="name" class="form-control" id="CategoryNameInput" placeholder="Category Name">
        </div>

        <button type="button" (click)="addCategory()" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Add</button>
        <button type="button" [routerLink]="[ '/Category']" class="btn btn-outline-danger float-right"><i class="fas fa-angle-left"></i> Back</button>
      </form>
 </div>
 
