<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link menu-color" (click)="getAll('Home')">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngFor="let item of mainMenu">
          <a class="nav-link menu-color" (click)="checkCategory(item.id,item.name)">{{item.name}} <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown dropdown">
          <a class="nav-link dropdown-toggle menu-color dropdown" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu menu-color" aria-labelledby="navbarDropdown">
            <a *ngFor="let item of categories" class="dropdown-item menu-color"
              (click)="checkCategory(item.id, item.name)">{{item.name}}</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" (input)="checkInput()" [(ngModel)]="searchName"
          name="searchName" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="sentSearchName()" type="submit">Search</button>
      </form>
    </div>
  </nav>